.post-header {
    width: 100%;
    height: 500px;
}

.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.back-home {
    color: var(--second-color);
    font-size: 0.9rem;
}

.header-title {
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.post-content {
    margin-top: 6rem;
}

.sub-heading {
    font-size: 1.2rem;
}

.post-text {
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin: 1rem 0;

}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share ul {
    display: flex;
    padding-bottom: 10px;
}

.share a {
    margin-left: 10px;
}

.fonte {
    color: darkred;
}

.post-coment {
    padding-top: 30px;
    color: #7a7a7a;
    line-height: 1.5rem;
}

.post-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border: 1px solid rgb(160, 160, 160);
}

.post-perfil img {
    width: 150px;
    border-radius: 50%;
    padding: 15px;
}

.post-perfil-nome h3 {
    margin-bottom: 15px;
}

.post-post {
    display: flex;
    justify-content: center;
    background-color: #f4f3f3;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.post-veja {
    width: 230px;
    margin: 15px;
}

.post-veja img {
    width: 230px;
    height: 230px;
}

.post-post p {
    margin: 10px 0;
}

.post-post .button-post {
    background-color: #212121;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.post-post a {
    color: #fff;
}


.artigo{
    display: flex;
   
}


.artigo-post{
    width: 15%;
    margin-top: 20px;
    margin-left: 0;
    position: fixed;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    padding: 15px;
}

.artigo-post li {
    padding: 7px;
}

.artigo-post a {
    color: dodgerblue;
}

@media(max-width: 1166px){
    .artigo{
        display: none;
       
    }
}

@media(min-width: 768px) {

    .sub-heading {
        padding-top: 10px;
    }


}

@media(max-width: 700px){
    .post-post {
        flex-direction: column;
        align-items: center;
    }

    .post-content {
        margin-top: 2rem;
    }

    

    .post-veja {
        width: 290px;
    }
    
    .post-veja img {
        width: 290px;
        height: 290px;
    }

    .post-content .post-retrato {
        margin-top: 8rem;
    }

    .header-title {
        font-size: 18px;
    }

    
}

@media(max-width: 500px) {
    .post-container {
        padding: 20px;
    }

    .sub-heading {
        padding-top: 20px;
    }

    .post-coment {
        color: #7a7a7a;
        line-height: 1.5rem;
    }

    .post-perfil {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .post-content .post-retrato {
        margin-top: 10rem;
    }

}

@media(max-width: 400px){
    .post-content .post-retrato {
        margin-top: 18rem;
    }
}